<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="7.1.17" targetFramework="net472" />
  <package id="GlobalExceptionHandler" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Diagnostics" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Diagnostics.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Net.Http.Headers" version="2.1.1" targetFramework="net472" />
  <package id="MVVM.Tools" version="1.1.0" targetFramework="net472" />
  <package id="ReactiveUI" version="14.1.1" targetFramework="net472" />
  <package id="Splat" version="11.1.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.2.0.62" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="19.2.0.62" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
</packages>